.admin-container {
    min-height: 100vh;
    background-color: #f3f4f6;
  }
  
  .admin-navbar {
    background-color:#333;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .admin-title {
    color: white;
    font-size:larger;
    font-weight: bold;
  }
  
  .admin-links {
    display: flex;
    gap: 1.5rem;
  }
  
  .admin-link {
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }
  
  .admin-link:hover {
    opacity: 0.8;
  }
  
  .admin-content {
    position: relative;
    background: url('../ambitious-studio-rick-barrett-w7jYaN7GqyA-unsplash.jpg') no-repeat center center/cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 10px;
  }
  
  .admin-heading {
    font-size: 3rem;
    font-weight: bold;
    color:white;
    
  }

  .admin-report-section {
    text-align: center;
    margin: 20px 0;
  }
  
  .admin-report-button {
    background-color: rgb(231, 79, 62);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .generate-pdf-btn{
    margin-left: 500px;
    margin-top: 30px;
  }

  .btn{
    margin-left: 600px;
    margin-top: 30px;
  }

  .attendance-progress-section{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a slight shadow */
    height: 1000px;;
  }
  
  
  
  